// queries
$desktop: 1280px;
$tablet: 900px;
$mobile: 600px;

// styles
$primary: #e1011c;
$secondary: #eccd05;
$blue: #0171e1;
$black: #282828;
$white: #ffffff;

$transition: .2s;
$border: 1px solid;

$border-radius: .5rem;
$shadow: 0 2px 6px 0 rgb(0 0 0 / 20%);
